 /*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-photo {
    width: 00px;
    height: 350px;
    border-radius: 90%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    color: #666;
  }
  
  .contact-info {
    list-style-type: none;
    margin-top: 10px;
  }
  
  .contact-info li {
    font-size: 0.9rem;
  }
  
  .contact-info a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  .about,
  .experience,
  .education,
  .skills {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  
  .job, .school {
    margin-top: 15px;
  }
  
  .job h3, .school h3 {
    font-size: 1.2rem;
    color: #555;
  }
  
  .company, .university, .dates {
    font-size: 0.9rem;
    color: #888;
  }
  
  .skills-list {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .skills-list li {
    font-size: 0.9rem;
    margin: 5px 0;
  }


  /* Style for the Profile Picture */
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }